asgiref==3.5.2
certifi==2022.5.18.1
chardet==4.0.0
charset-normalizer==2.0.12
Django==4.0.4
django-cors-headers==3.12.0
flake8==4.0.1
idna==3.3
mccabe==0.6.1
podcast-api==1.1.3
pycodestyle==2.8.0
pyflakes==2.4.0
pytz==2022.1
requests==2.27.1
sqlparse==0.4.1
urllib3==1.23
