asgiref==3.8.1
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
Django==5.1.7
django-cors-headers==4.7.0
flake8==7.1.2
idna==3.10
mccabe==0.7.0
podcast-api==1.1.6
pycodestyle==2.12.1
pyflakes==3.2.0
pytz==2025.1
requests==2.32.3
sqlparse==0.5.3
urllib3==2.3.0
